/* Home.css */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #151515;
    color: white;
    margin-left: 200px;

    h1 {
        font-size: 3rem;
        margin-bottom: 20px;
      }
}

.social-links {
    margin: 20px;
    font-size: 30px;

    a {
        color: #009DCF;
        margin: 0 10px;
      }

      button {
        background-color: transparent;
        border: none;
        cursor: pointer; 
        font-size: 30px;
        color: #009DCF;
      }

    a:hover {
     color: #00BFFF;
    }
}

hr {
    width: 30%;
  }

  .discord-pseudo {
    animation: slide-in 0.5s forwards;
    display: inline-block;
    margin-left: 10px;
    font-size: 24px;
  }
  
  @keyframes slide-in {
    0% {
      transform: translateX(-50%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }