/* Navbar.css */
:root {
  --background-color-dark: #222222;
  --text-color-dark: white;
  --hover-color-dark: #00BFFF;
  --active-color-dark: #009DCF;

  --background-color-light: #FFFFFF;
  --text-color-light: #000000;
  --hover-color-light: #0077FF;
  --active-color-light: #0055CC;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: var(--background-color-dark);
  transition: width 0.3s;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  height: 60%;
}

li {
  margin-bottom: 10px;
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: var(--text-color-dark);
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s, color 0.3s;
}

.navbar a span {
  margin-left: 10px;
}

a:hover {
  color: var(--hover-color-dark);
}

.active a {
  color: var(--active-color-dark);
}

.navbar svg {
  margin-right: 10px;
}

.Footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: var(--text-color-dark);
  font-size: 12px; 
}

.logo-container {
  text-align: center;
  padding: 5px 0;
}

.logo {
  width: 80%;
  top: 1px;
}

@media (prefers-color-scheme: light) {
  .navbar {
    background-color: var(--background-color-light);
  }

  .navbar a {
    color: var(--text-color-light);
  }

  .Footer {
    color: var(--text-color-light);
  }

  a:hover {
    color: var(--hover-color-light);
  }

  .active a {
    color: var(--active-color-light);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    width: 70px;
  }

  hr {
    width: 60%;
  }

  .navbar a span {
    display: none;
  }

  .navbar svg {
    margin: 30px 30px;
    font-size: 20px;
  }

  .logo {
    width: 80px;
  }

  .logo-container {
    object-fit: fill;
    margin-bottom: 50px;
  }

  ul {
    font-size: 13px;
  }

  .navbar a {
    padding: 0;
  }

  li {
    margin-bottom: 0;
  }
}
