/* Navbar.css */
.navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #222222;
  transition: width 0.3s;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  font-size: 20px;
  height: 60%;
}

li {
  margin-bottom: 10px;
}

.navbar a {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  transition: opacity 0.3s;
}

.navbar a span {
  margin-left: 10px;
}

a:hover {
  color: #00BFFF;
}

.active a {
  color: #009DCF;
}

.navbar svg {
  margin-right: 10px;
}

.Footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
  color: #FFF;
  font-size: 12px; 
}

.logo-container {
  text-align: center;
  padding: 30px 0;
}

.logo {
  width: 200px;
  height: auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    width: 70px;
  }

  .navbar hr {
    width: 40%;
  }

  .navbar a span {
    display: none;
  }

  .navbar svg {
    margin: 30px 30px;
    font-size: 20px;
  }

  .logo {
    width: 60px;
  }

  .logo-container {
    object-fit:fill;
    margin-bottom: 50px;
  }

  ul {
    font-size: 13px;
  }

  li {
    margin-bottom: 8px;
  }
}
